/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration-line: none;
}
time {
  font-size: 0.9rem;
}
div[class*="unread"] {
  border-left: 5px solid blue;
}
.message:first-child {
  opacity: 0.2;
}
.messages {
  line-height: 150%;
}
