body    
    {
        background-image: linear-gradient(to bottom, #ffff99, #fff38b, #ffe67d, #ffd971, #ffcc66);
        font-family: 'Roboto', sans-serif;
    }
h2
    {
        font-size:30pt;
        color:rgb(0, 0, 77);

    }
h3, h4  
    {
        font-size:20pt;
    }
a
    {
        text-decoration: none;
        font-weight: bold;
        color:rgb(115, 115, 115);
    }
footer a    
    {
        color:white;
    }
nav a 
    {
        color:white;
    }
a:hover
    {
        color:rgb(0, 0, 51);
    }

.site-wrapper
    {
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items:center;
        margin:3%;
    }
p
    {
        line-height: 2em;
    }
/* Header*/
    .header-top-social
        {
            width:200px;
            display: flex;
            flex-flow:row nowrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top:0%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    .header-top-slink
        {
            width:30px;
            height:30px;
            list-style-type: none;
        }
    .site-header
        {
            width:100%;
            
        }
    .site-header-title
        {
            display:flex;
            margin:2%;
            color:rgb(0, 0, 77);
            font-family: 'Zhi Mang Xing', cursive;
            font-size: 40pt;
        }
    .main-nav
        {
            background-color: hsl(66, 43%, 60%);
            margin:2%;
        }
    .main-nav-list
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            margin-left: auto;
            margin-right: auto;

        }
/*main index*/
.main-sections
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: center;
        }
.index-center
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin: 2%;
            border: 2px solid hsl(66, 43%, 60%);
            box-shadow: 5px 10px 18px #888888;
        }
.index-center img
    {
        width:70%;
    }
.index-center p
    {
        width:25%;
        margin-left:2%;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: justify;
        line-height: 1.2em;
        font-size:1.1em;
    }
.index-center-s
    {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        align-items:flex-start;
        margin: 2%;        
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
    }
.index-center-s div
    {
        width:30%;
        height:100%;

    }
.index-center-s p
    {
        width:98%;
        text-align: center;
        line-height: 1.2em;
        font-size:1.1em;

    }
.index-center-s h3
    {
        text-align: center;
        margin-bottom: 45px;
        color:rgb(0, 0, 77);

    }
.facts-figures  
    {
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
        margin:2%;
    }
.facts-figures h2   
    {
        text-align: center;
    }
.main-facts
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            text-align: center;
            margin: 2%;        

        }
.facts-item
        {
            width:20%;            
        }
/*main about*/
.about-main-article 
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
        
    }
.about-main-article p
    {
        text-align: justify;
        line-height: 1em;
        font-size:1.2em;

    }

/*contact main*/
.contact-main-article 
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
    }
/*ne main*/
.ne-main
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
    }
.ne-section1
    {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
.ne-article
    {
        width:100%;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;
        align-items: center;
        margin-top: 2%;
    }
.ne-section2
    {
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
        width:45%;
        text-align:center;
        line-height: 1.2em;

    }
.ne-section3
    {
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
        width:45%;
        text-align:center;
        line-height: 1.2em;

    }
/*contact*/

/*footer*/
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: hsl(66, 43%, 50%);
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color:rgb(0, 0, 51);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color:white;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }

  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }