body    
    {
        background-image: linear-gradient(to bottom, #ffff99, #fff38b, #ffe67d, #ffd971, #ffcc66);
        font-family: 'Roboto', sans-serif;
    }

.site-wrapper
    {
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items:center;
        margin:3%;
    }

/* Header*/
    .header-top-social
        {
            width:200px;
            display: flex;
            flex-flow:row nowrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top:0%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    .header-top-slink
        {
            width:30px;
            height:30px;
            list-style-type: none;
        }
    .site-header
        {
            width:100%;
        }
    .site-header-title
        {
            display:flex;
            margin:2%;
        }
    .main-nav
        {
            background-color: hsl(66, 43%, 60%);
            margin:2%;
        }
    .main-nav-list
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            margin-left: auto;
            margin-right: auto;

        }
/*main index*/
.main-sections
        {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
        }
.index-center
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin: 2%;
            border: 2px solid hsl(66, 43%, 60%);
            box-shadow: 5px 10px 18px #888888;
        }
.index-center img
    {
        width:70%;
    }
.index-center p
    {
        width:25%;
        margin-left:2%;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: justify;
        line-height: 1em;
        font-size:1.1em;
    }
.index-center-s
    {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        align-items:center;
        margin: 2%;        
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
    }
.index-center-s div
    {
        width:28%;
        height:auto;
        border: 2px solid black;

    }
.index-center-s p
    {
        width:28%;
        text-align: center;
        line-height: 1em;
        font-size:1.1em;
        border: 2px solid black;

    }
.facts-figures  
    {
        border: 2px solid hsl(66, 43%, 60%);
        box-shadow: 5px 10px 18px #888888;
        margin:2%;
    }
.facts-figures h2   
    {
        text-align: center;
    }
.main-facts
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            text-align: center;
            margin: 2%;        

        }
.facts-item
        {
            width:20%;            
        }
/*main about*/
.about-main-article 
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
        
    }
.about-main-article p
    {
        text-align: justify;
        line-height: 1em;
        font-size:1.5em;

    }

/*contact main*/
.contact-main-article 
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
    }
/*ne main*/
.index-main-article
    {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin:5%;
    }
/*footer*/