/* Add your own CSS code below */
#hearty {
  color: #c85308;
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 3em;
  }
}
.main-nav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
@media (min-width: 767px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 767px) {
  .views {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .view-list__item {
    margin: 15px;
  }
  .views__all {
    margin-left: auto;
  }
}
.main-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main-article p {
  max-width: 50em;
  line-height: 25px;
  text-align: justify;
}
