/* All the page*/
* {
  font-family: "Raleway", sans-serif;
}

/*Header*/
.app__header {
  background-color: rgb(125, 158, 212);

  padding: 1em;
  font-family: "Raleway", sans-serif;
}
#city {
  background-color: rgb(125, 158, 212);
  border: none;
  color: white;
  font-size: 1.2em;
}
#find {
  background-color: rgb(70, 97, 166);
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 1.3em;
  color: black;
}

/* Main */
main {
  background-color: rgb(165, 205, 240);
}

.app__main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.strong {
  font-weight: bold;
}

/* Centered image */

<<<<<<< HEAD
.current_weather {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}
#status {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 2px;
  font-size: 1.2em;
}
.today1 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.today2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/*show different hour*/
.weather_over24 {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 0 1 auto;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
}
section img {
  width: 120%;
  height: 120%;
=======
/* Current weather */

div {
  border: 5px solid red;
>>>>>>> dbfca94249132279d87cdc433793d8f550b80fc5
}
